.errorMessage {
    font-weight: bolder;
    text-align: center;
}

a.btn-circle,
a.btn-circle:hover {
    text-decoration: none;
}

.card-header{
    height: 80px;
}

.close {
    color: #fff;
    opacity: 1;
}

.font-sm{
    font-size: 12px;
}



/*.css-serial {*/
/*    counter-reset: serial-number;  !* Set the serial number counter to 0 *!*/
/*}*/

/*.css-serial td:first-child:before {*/
/*    counter-increment: serial-number;  !* Increment the serial number counter *!*/
/*    content: counter(serial-number);  !* Display the counter *!*/
/*    font-weight: bold;*/
/*}*/