.errorMessage, .generalErrorMessage {
    font-weight: bolder;
    text-align: center;
}

a.btn-circle,
a.btn-circle:hover {
    text-decoration: none;
}

.card-header {
    height: 80px;
}

.close {
    color: #fff;
    opacity: 1;
}

.font-sm {
    font-size: 12px;
}

.breadcrumb a {
    text-decoration: none;
}

.deleteAllIcon:hover {
    cursor: pointer;
}

.bootstrap-overrides .bg-login-image{
    background: url("https://source.unsplash.com/VrJnsLH2nOY/600x800") center;
    background-size: cover;
}

.bootstrap-overrides .bg-register-image{
    background: url("https://source.unsplash.com/4kIM7ED8F1A/600x800") center;
    background-size: cover;
}

.bg-budget-image {
    background: url("https://source.unsplash.com/f030K9IzpcM/800x1000") center;
    background-size: cover;
}

.category-icon{
    color: #2c2f33;
}