.errorMessage, .generalErrorMessage {
    font-weight: bolder;
    text-align: center;
}

a.btn-circle,
a.btn-circle:hover {
    text-decoration: none;
}

.card-header {
    height: 80px;
}

.close {
    color: #fff;
    opacity: 1;
}

.font-sm {
    font-size: 12px;
}

.breadcrumb a {
    text-decoration: none;
}

.deleteAllIcon:hover {
    cursor: pointer;

}